{% extends "base.html" %}

{% block content %}
<h1>Создание модели</h1>
<br>
<p>
				<a class="btn btn-primary " href="/">Вернуться</a>
			</p>
<br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p1.label }}<br>
        {{ form.p1 }}<br>
        {% for error in form.p1.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>
        {{ form.p2.label }}<br>
        {{ form.p2 }}<br>
        {% for error in form.p2.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p3.label }}<br>
        {{ form.p3 }}<br>
        {% for error in form.p3.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p4.label }}<br>
        {{ form.p4 }}<br>
        {% for error in form.p4.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p5.label }}<br>
        {{ form.p5 }}<br>
        {% for error in form.p5.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p6.label }}<br>
        {{ form.p6 }}<br>
        {% for error in form.p6.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}